* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55px;
    background-color: rgb(231, 231, 231);
}

header h1 {
    font-size: 20px;
}

main {
    width: 31vw;
    margin: 100px auto 0 auto;
}

main .container p {
    font-size: 20px;
    margin-bottom: 10px;
    text-indent: 5%;
}

@media all and (max-width: 1200px) {
    main {
        width: 50vw;
        margin: 100px auto 0 auto;
    }
}

@media all and (max-width: 768px) {
    main {
        width: 75vw;
        margin: 100px auto 0 auto;
    }
}