body {
    background-color: lightgrey;
}

footer {
    background-color: lightblue;
    font-family: Arial;
    padding: 10px;
    border: 1px dashed darkblue;
}

#notice {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.headline {
    text-decoration: underline dashed red;
    color: gray;
    font-size: 20px;
}

h1 {
    text-shadow: 1px 1px 0 gray;
    background-color: rgba(218, 22, 22, 0.5);
}

#feature {
    font-family: Arial;
    font-size: small;
    color: red;
    background-color: #fff;
    width: 80%;
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.82);
}